* {
    font-family: 나눔고딕;
}

body {
    margin: 0;
}

header {
    background: blue;
    height: 110px;
}

section#main-container {
    left: 200px;
    right: 200px;
    top: 110px;
    bottom: 100px;
    overflow-y: auto;
}

aside#left-container {
    background: gray;
    width: 200px;
    bottom: 100px;
    top: 110px;
    overflow: auto;
    font-size: 18px;
}

aside#right-container {
    background: blueviolet;
    top: 110px;
    bottom: 100px;
    left: calc(100vw - 200px);
}

footer {
    background: green;
    top: calc(100vh - 100px) !important;
}

li {
    margin-left: -20px;
}

.container {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#title {
    border-bottom: 1px solid black;
    font-size: 25px;
    margin: 10px;
    padding-bottom: 5px;
}

#explain {
    margin: 0 10px;
}

#explain>#writer-name {
    float: left;
    width: 200px;
}

#explain>#write-time {
    float: right;
    width: 300px;
}

#content {
    /*background-color: red;
    background-image: linear-gradient(to bottom right, blue, red);
    height: 1500px;*/
    float: left;
    font-size: 20px;
    margin: 10px;
}

#main-container>#sub-container2 {
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    height: 30px;
    width: 100%;
    text-align: center;
}